NEXTAUTH_SECRET= "79f4b3e311224ac80dba400e8606abe60ca5a3000b9ed2b3141e5f6827e93ec9"
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_WEB3STORAGE_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDg1ODkxNjY1NkJhRjM4NjZCOTY4N0VkYTg3NDA1MEQ2NTE4MmI1OTEiLCJpc3MiOiJ3ZWIzLXN0b3JhZ2UiLCJpYXQiOjE2NjAzMDUyMDY2NTMsIm5hbWUiOiJkb25hdGUzX3Rva2VuIn0.hnwJM4nCCriH72Q02qIS3--VSNZx-c_4WHQ9ifmJJZ4"